@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 70vw;
    margin: 0 auto;
}


.main-subheading {
    display: flex;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.dots-img {
    padding: 5px;
}

.cake-img {
    object-fit: contain;
    max-width: 100%;
    margin: 2rem 0;
}

.container {
    display: flex;
    margin-bottom: 100px;
}

.container-left {
    width: 60%;
    color: #333333;
}

.ingredients-heading {
    font-family: 'Playfair Display', serif;
}

.ingredients-title {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}

.ingredients-item {
    display: flex;
    margin: 10px 0;
}

.ingredients-item-text {
    margin-left: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: calc(100% - 21px);
    margin-left: 10px;
}

.checkbox {
    width: 21px;
    height: 21px;
    display: inline-block;
    border: 1px solid #828282;
    border-radius: 4px;
}

input[type="checkbox"]::before {
    content: '';
    width: 21px;
    height: 21px;
    border: 1px solid #828282;
    outline: none;
    border-radius: 4px;
}

.instructions {
    margin-bottom: 30px;
}

.single-instruction {
    display: flex;
    margin-top: 10px;
}

.instruction-content {
    margin-top: 0;
    margin-left: 10px;
    width: calc(100% - 36px);
    font-family: 'Montserrat', sans-serif;
}

.instruction-number {
    background-color: #F2994A;
    height: 36px;
    width: 36px;
    display: grid;
    border-radius: 6px;
    place-items: center;
    /* font-family: 'Playfair Display', serif; */
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.container-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.tile {
    width: 12vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 315px;
}

.tile-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2.5rem 1vw 2.5rem 2vw;
}

.utils-icon i {
    color: #F2994A;
    margin-right: 0.75rem;
    font-size: 24px;
}

.clock-icon i {
    color: #4F4F4F;
    margin-right: 0.75rem;
    font-size: 24px;
}

.tile-text-header {
    font-size: 10px;
    color: #BDBDBD;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    
}

.tile-text-sub {
    font-size: 14px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.source-link {
    font-family: 'Montserrat', sans-serif;
    color: #BDBDBD;
    text-decoration: none;
    font-style: italic;
}

footer {
    width: 100%;
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: #666;
    font-size: 14px;
    margin-bottom: 1em;
}

footer a {
    text-decoration: none;
    color: #666;
}

@media (max-width: 1450px){
    .tile {
        width: 15vw;
    }
}

@media (max-width: 1200px){
    .tile {
        width: 20vw;
    }

    .wrapper {
        width: 80vw;
    }
}

@media (max-width: 900px) {
    .container {
        flex-direction: column-reverse;
    }

    .container-left {
        width: 100%;
    }

    .container-right {
        width: 100%;
        justify-content: center;
    }

    .tile {
        width: 100%;
        height: auto;
        box-shadow: none;
    }

    .tile-time-info-container {
        display: flex;
        justify-content: flex-start;
    }

    .tile-servings-info-container {
        display: flex;
        justify-content: flex-start;
    }

    .tile-item {
        margin: 1rem auto 1rem 0;
    }
}

@media (max-width: 812px) {
    .main-heading {
        font-size: 24px;
    }

    .main-subheading {
        font-size: 12px;
    }

    .tile-text-header {
        font-size: 8px;
    }

    .tile-text-sub {
        font-size: 10px;
    }

    .ingredients-heading {
        font-size: 18px;
    }

    .ingredients-title {
        font-size: 16px;
    }

    .ingredients-item {
        font-size: 14px;
    }

    .instruction-content {
        font-size: 16px;
    }

    .instruction-heading {
        font-size: 24px;
    }

    .source-link {
        font-size: 12px;
    }

    footer {
        width: 100%;
        text-align: center;
        font-family: 'Space Mono', monospace;
        color: #666;
        font-size: 12px;
        margin-bottom: 1em;
    }

}
